# Ausiliari LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glg-abr
*.glo
*.glo-abr
*.gls
*.gls-abr
*.ist
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdy

# PDF di output
thesis.pdf

# Sistema
.DS_Store
Thumbs.db
